# ----- Python -----
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
.venv/
ENV/

# ----- Modelo entrenado (se genera con train.py) -----
*.pkl

# ----- Streamlit -----
.streamlit/secrets.toml

# ----- Editores / Sistema -----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----- Jupyter -----
.ipynb_checkpoints/
